h1,
h2 {
  text-align: center;
}

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input {
  color: rgb(80, 78, 78);
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  width:100%;
  padding: 3px;
  border:1px solid black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input:focus {
  outline: 3px solid rgb(140, 139, 139);
}

input::placeholder {
  color: rgba(9, 0, 0, 0.6);
}

/* Button on top of the Input */
.wrapper {
  width: 400px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(161, 152, 152);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .wrapper button {
    background: rgb(39, 156, 13);
    border-radius: 10px;
    aspect-ratio: 2;
    height: 100%;
    position: absolute;
    top: 1%;
    right: -120px;
  }
}

@media only screen and (max-width: 699px) {
  .wrapper button {
    background: rgb(39, 156, 13);
    border-radius: 10px;
    aspect-ratio: 2;
    height: 100%;
    top: 1%;
    margin-top: 5px;
  }
}
